// FONTS
$header-1: normal 600 64px 'PPNeueuMontreal-Bold', sans-serif;
$header-3: normal 400 32px 'Bodoni', serif;

$body-xlarge: normal 400 28px 'PPNeueuMontreal-Bold', sans-serif;
$body-large: normal 400 16px 'PPNeueuMontreal-Bold', sans-serif;
$body: normal 400 16px 'Poppins', sans-serif;
$body-small: normal 400 12px 'Poppins', sans-serif;

$background: normal 600 128px 'Poppins', serif;

// COLORS
$colors: (
  'black': #121212,
  'white': #fffE,
  'white-50': #fff7,
  'white-25': #fff3,
);

// SPACING
$nav-height: 80px;
$nav-horiz-padding: 120px;

$content-horiz-padding: 220px;

$footer-horiz-padding: 120px;

$button-horiz-padding: 24px;

// Export to JS
:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }
}
