@use 'variables.module' as *;

#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: calc(100vh - 100px);
}

#title {
  margin-top: 5vh;
}

#mushroom {
  margin: 0;
  align-items: center;
  flex-direction: center;

  img {
    width: 240px;
  }
}

.section {
  margin-top: 32px;

  h4 {
    margin-top: 12px;
  }
}

.section:first-of-type {
  margin-top: 0;
}
